@font-face {
    font-family: right;
    src: url();
}

.imagedefond {
    background-image: url("/amuhome/b25015125/Téléchargements/fondKebab.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 125vh;
    width: 100%;
    position: relative; 
    border-radius: 30px;
}

.imagemain {
    background-color: black;
    height: 125vh;
    width: 100%;
    position: relative;
    border-radius: 30px;

    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: top;     /* centre verticalement */
}



.newEvent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 42px;
    font-family:"righ" ;
    font-weight: bold;
}

.center-container {
    width: 60%;
    margin: 0 auto;
    background: rgb(10, 10, 10);
    padding: 50px;
    border-radius: 20px;
}


.row {
    display: flex;
    margin-bottom: 25px;
    width: 100%;
}

.col-label {
    width: 200px;
    font-weight: bold;
}

.col-value {
    flex: 1;
}


@media (prefers-color-scheme: dark) {
body {
background-color: #000000;
color: #fefefe;
}
a {
color: #5fa9ee;
}
img {
filter: grayscale(20%);
border-radius: 30px;
}
}