@font-face {
    font-family: 'Righteous-Regular';
    src: url(../assets/fonts/Righteous-Regular.ttf);
}
@font-face {
    font-family: 'RobotoMono-Regular';
    src: url(../assets/fonts/RobotoMono-Regular.ttf);
}

.header {
    background-image: url("../assets/images/fondKebab.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 125vh;
    width: 100%;
    position: relative; 
    border-radius: 30px;
}

.imagemain {
    background-color: black;
    height: 125vh;
    width: 100%;
    position: relative;
    border-radius: 30px;

    /* --- MODIFICATIONS ICI --- */
    color: white;            /* 1. Rend tout le texte blanc (plus de texte noir sur fond noir) */
    
    display: flex;           /* Active le mode Flexbox */
    flex-direction: column;  /* Empile les éléments verticalement si besoin */
    justify-content: center; /* Centre le bloc verticalement au milieu de la page */
    align-items: center;     /* Centre le bloc horizontalement */
    text-align: center;      /* Force le texte à l'intérieur à se centrer */
}

.middleText ul {
    list-style: none;
    padding: 0;      /* Force la suppression du décalage à gauche */
    margin: 0;       /* Supprime les marges externes */
}

.middleText ul li {
    margin-bottom: 10px; /* Espace entre chaque ligne de texte */
    line-height: 1.6;    /* Augmente l'espace entre les lignes d'une même phrase */
    font-size: 1.1rem;   /* Rend le texte légèrement plus grand et lisible */
}

.middleText h1 {
    margin-top: 40px;    /* Espace au-dessus du titre */
    margin-bottom: 15px; /* Espace en dessous du titre */
    font-size: 1.5rem;   /* Ajustez la taille si besoin */
}

.deux {
  list-style-position: outside;
  list-style-type: circle;
}


.newEvent { 
    top: 50%;
    left: 50%;
    text-align: center;
    
    font-family:'Righteous-Regular';
    color: #000000;
    font-weight: bold;

}

.center-container {
    width: 60%;
    margin: 0 auto;
    background: rgb(23, 22, 22);
    padding: 50px;
    border-radius: 20px;
    font-family: 'Righteous-Regular';
}

.center-container .row {
    margin-bottom: 20px; /* Espace entre les lignes du haut */
    width: 100%;         /* S'assure que ça prend la largeur pour bien espacer */
}


.row {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}



.col-label {
    width: 200px;
    font-weight: bold;
    font-family: 'RobotoMono-Regular';
}

.col-value {
    flex: 1;
    font-family:'RobotoMono-Regular';
}


@media (prefers-color-scheme: dark) {
body {
background-color: #000000;
color: #fefefe;
}
a {
color: #5fa9ee;
}
img {
filter: grayscale(20%);
border-radius: 30px;
}
}