@font-face {
  font-family: 'righteous';
  src: url('assets/fonts/Righteous-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-mono';
  src: url('assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  background-color: black;
  font-family: 'righteous';
  color: whitesmoke;
}

header {
  position: relative;
  box-sizing: border-box;
  background-image: url("assets/images/reception-background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 3rem;
  margin: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.header-container {
  border: 2px solid rgb(75 70 74); /* a supprimer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  gap: 20vh;
}

.title {
  border: 2px solid rgb(95 97 110);
  display: block;
  text-align: center;
  padding: 5vh;
  width: 10em;
  font-size: 5rem;
}

.next-event-registration {
  border: 2px solid rgb(95 97 110);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-event {
  display: flex;
  gap: 4vw;
  padding: 16px 24px;
  background-color : rgba(29, 29, 29, .9);
  border-radius: 10px;
  font-size: 14px;
}

.data {
  display: flex;
  flex-direction: column;
  font-family: 'roboto-mono';
}

.registration {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  border-radius: 999px;
  background: #3dd46d;
  color: #0f172a;
  font-weight: 600;
  text-decoration: none;
  font-family: 'roboto-mono';
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vh 12vw;
  padding: 15vh 10vw;
}

.content-block {
  text-align: center; 
  max-width: 40vw;
}

.content-block h2 {
  font-size: 2.2vw;
  margin-bottom: 1.5vh;
}

.content-block p {
  font-size: 1.5vw;
  line-height: 1.2;
}

footer {
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("assets/images/carbon-background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  padding: 1.5rem;
}

.top-footer {
  display: flex;
  justify-content: space-around;
  font-family: 'roboto-mono';
  gap: 5vw;
  margin-top: 2.5rem;
  margin-bottom: 10rem;
  font-size: 1.5vw;
}

address {
  min-width: 60vw;
  line-height: 1.4;
}

footer a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}

.legal-notices {
  max-width: 40vw;
  line-height: 1.4;
}

h3 p {
  margin: 1rem 1.5rem;
  font-size: 3.5rem;
}

#h3-A {
  text-align: start;
}

#h3-B {
  text-align: center;
}

#h3-C {
  text-align: end;

}

.top-link {
  display:none;
  position: fixed;  
  bottom: 3vh;
  right: 3vh;
  display: inline-block;
  padding: 12px 24px;
  background: #3dd46d;
  color: #0f172a;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

/* Tablette */
@media (min-width: 600px) and (max-width: 1024px) {
  nav a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    margin: 1rem;
  }

  .title {
    border: 2px solid rgb(95 97 110);
    display: block;
    text-align: center;
    padding: 20px;
    width: 10em;
    font-size: 3rem;
  }

  h3 p {
    font-size: 2.5rem;
  }
}

/* téléphone */
@media (max-width: 600px) {
  nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    margin: 0.8rem;
  }

  .title {
    border: 2px solid rgb(95 97 110);
    display: block;
    text-align: center;
    padding: 20px;
    width: 10em;
    font-size: 2rem;
  }

  h3 p {
    font-size: 1.5rem;
  }
}