@font-face {
  font-family: 'righteous';
  font-display: swap;
  src: url('../assets/fonts/Righteous-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  ascent-override: 100%;
  descent-override: 0%;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'roboto-mono';
  font-display: swap;
  src: url('../assets/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  ascent-override: 100%;
  descent-override: 35%;
  line-gap-override: 10%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  background-color: black;
  font-family: 'righteous';
  color: whitesmoke;
}

header {
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../assets/images/about-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 4vw;
  margin: 1vw;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vw;
  margin-top: 2vw;
}

.title {
  display: block;
  text-align: center;
  padding: 5vh;
  font-size: 9vw;
}

main {
  background: linear-gradient(#b8b814, #fe1b00, #0b0f11);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 15vh 18vw;
}

.main-content h1 {
  font-size: 3.5vw;
  margin-bottom: 1.4vw;
}

.content-block {
  text-align: start; 
  max-width: 64vw;
}

.content-block h2 {
  font-size: 2.2vw;
  margin-bottom: 1.2vw;
}

.content-block p {
  font-size: 1.5vw;
  line-height: 1.2;
}

.important {
  font-weight: bold;
}

footer {
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/images/carbon-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.top-footer {
  display: flex;
  justify-content: space-around;
  font-family: 'roboto-mono';
  gap: 5vw;
  margin-top: 2.5rem;
  margin-bottom: 10vw;
  font-size: 1.5vw;
}

address {
  min-width: 60vw;
  line-height: 1.4;
}

.logo {
  display: inline-flex;
  justify-content: space-between;
  width: 15vw;
}

.logo img {
  width: 100%;
  height: auto;
}

footer a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}

#notice {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8vw 1.2vw;
  border-radius: 100vw;
  margin-top: 5vh;
  background: #ff4500;
  color: #0f172a;
  font-weight: 600;
  font-size: 1.4vw;
  text-decoration: none;
  font-family: 'roboto-mono';
  box-shadow: 0 4px 0 #c73200;
}

.legal-notices {
  max-width: 40vw;
  line-height: 1.4;
}

h3{
  margin: 0.8vw 0.6vw;
  font-size: 5vw;
}

#h3-A {
  text-align: start;
}

#h3-B {
  text-align: center;
}

#h3-C {
  text-align: end;

}

#style-switch,
#top-link {
  display:none;
  position: fixed;
  bottom: 3vh;
  display: inline-block;
  padding: 12px 24px;
  background: #ff4500;
  color: #0f172a;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 0 #c73200;
}

#style-switch {
  left: 3vh;
}

#top-link {
  right: 3vh;
}

@media (max-width: 800px) {
  nav a {
    font-size: 5.5vw;
  }

  .main-content {
    padding: 15vh 8vw;
  }

  .content-block {
    max-width: 84vw;
  }

  .main-content h1 {
    font-size: 6vw;
  }

  .content-block h2 {
    font-size: 4vw;
  }

  .content-block p {
    font-size: 2.5vw; 
  }

  .top-footer {
    flex-direction: column;
    font-size: 2.5vw;
    margin-bottom: 20vw;
  }

  .logo {
    width: 25vw;
  }

  .logo img {
    width: 80%;
    height: auto;
  }

  #notice {
    padding: 1vw 2vw;
    font-size: 2vw;
  }

  .legal-notices {
    max-width: 60vw;
  }
}

@media (max-aspect-ratio: 1 / 0.5) {
  .header-container {
    height: 70vh;
    gap: 0;
    margin-top: 5vw;
  }
}

@media (max-aspect-ratio: 1 / 0.6) {
  .header-container {
    margin-top: 8vw;
  }
}

@media (max-aspect-ratio: 1 / 0.7) {
  .header-container {
    margin-top: 10vw;
  }
}

@media (max-aspect-ratio: 1 / 0.8) {
  .header-container {
    margin-top: 12vw;
  }
}

@media (max-aspect-ratio: 1 / 0.9) {
  .header-container {
    margin-top: 14vw;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .header-container {
    margin-top: 16vw;
  }
}

@media (max-aspect-ratio: 1 / 1.1) {
  .header-container {
    margin-top: 18vw;
  }
}

@media (max-aspect-ratio: 1 / 1.2) {
  .header-container {
    margin-top: 20vw;
  }
}