@font-face {
    font-family: 'righteous';
    src: url('../assets/fonts/Righteous-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-mono';
    src: url('../assets/fonts/RobotoMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
 
* {
    box-sizing: border-box;
    margin: 0;
}
 
body {
    position: relative;
    background-color: black;
    font-family: 'righteous';
    color: black;
}
 
header {
    position: relative;
    box-sizing: border-box;
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../assets/images/form-background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 0.5rem;
}
 
nav a {
    text-decoration: none;
    color: inherit;
    color: whitesmoke;
    font-size: 4vw;
    margin: 1vw;
}
 
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

main {
    background: linear-gradient(whitesmoke, #58afd6);
    padding: 20vh 20vw;
}
 
.imagemain {
    display: flex;           
    flex-direction: column;  
    align-items: center;     
 
    width: 60vw;
    margin: 0 auto;
    background: rgb(232, 233, 233);
    padding: 10vh;
    border: solid;
    border-radius: 4vw;
    border-color: black;
}
 
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    font-family: 'roboto-mono'; 
}
 
.form-group {
    display: flex;
    flex-direction: column;
    text-align: left; 
}
 
.form-group label {
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #2776ab; 
    font-weight: bold;
}
 
/* Style des champs de saisie (input, select, textarea) */
.form input, 
.form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #333;
    background-color: #ffffff; 
    color: rgb(255, 255, 255);
    font-family: 'roboto-mono';
    font-size: 1rem;
    outline: none; 
}
 
/* Effet quand on clique dans un champ */
.form input:focus,
.form textarea:focus {
    border-color: #00000096;
    background-color: #1a1a1a;
}
 
.send-button {
    margin-top: 10px;
    padding: 15px;
    background-color: #2776ab;
    color: #0f172a;
    font-family: 'righteous';
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
}

footer {
    position: relative;
    box-sizing: border-box;
    background-image: url('../assets/images/ice-background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 1.5rem;
}

.top-footer {
    display: flex;
    justify-content: space-around;
    font-family: 'roboto-mono';
    gap: 5vw;
    margin-top: 2.5rem;
    margin-bottom: 10vw;
    font-size: 1.5vw;
    font-weight: 600;
}

address {
    min-width: 60vw;
    line-height: 1.4;
}

.logo {
    display: inline-flex;
    justify-content: space-between;
    width: 15vw;
}

.logo img {
    height: auto;
    width: 4vw;
}

footer a {
    text-decoration: none;
    color: inherit;
    text-decoration: underline;
}

.legal-notices {
    max-width: 40vw;
    line-height: 1.4;
}

h3{
    margin: 0.8vw 0.6vw;
    font-size: 5vw;
}

#h3-A {
    text-align: start;
}

#h3-B {
    text-align: center;
}

#h3-C {
    text-align: end;

}

#style-switch,
#top-link {
    display:none;
    position: fixed;
    bottom: 3vh;
    display: inline-block;
    padding: 12px 24px;
    background: #96e9e5;
    color: #0f172a;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 0 #81c9c5;
}

#style-switch {
    left: 3vh;
}

#top-link {
    right: 3vh;
}

@media (max-width: 800px) {
    nav a {
        font-size: 5.5vw;
    }

    main {
        padding: 20vh 10vw;
    }
 
    .imagemain {
        width: 80vw;
        padding: 4vw;
        border-radius: 6vw;
    }

    .top-footer {
        flex-direction: column;
        font-size: 2.5vw;
        margin-bottom: 20vw;
    }

    .logo {
        width: 25vw;
    }

    .logo img {
        width: 6vw;
    }

    .legal-notices {
        max-width: 60vw;
    }
}