@font-face {
  font-family: 'righteous';
  font-display: swap;
  src: url('../assets/fonts/Righteous-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  ascent-override: 100%;
  descent-override: 0%;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'roboto-mono';
  font-display: swap;
  src: url('../assets/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  ascent-override: 100%;
  descent-override: 35%;
  line-gap-override: 10%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  background-color: black;
  font-family: 'righteous';
  color: black;
}

header {
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../assets/images/reception-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  color: whitesmoke;
  font-size: 4vw;
  margin: 1vw;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 42vw;
  gap: 2vw;
  margin-top: 2vw;
}

.title {
  display: block;
  text-align: center;
  color: whitesmoke;
  padding: 5vh;
  font-size: 9vw;
  margin-bottom: 10vh;
}

.next-event-registration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
}

.next-event {
  display: flex;
  gap: 4vw;
  padding: 1.5vw 2.5vw;
  background-color : rgba(226, 226, 226, .9);
  border-radius: 1.5vw;
  font-size: 1.4vw;
}

.data {
  display: flex;
  flex-direction: column;
  font-family: 'roboto-mono';
}

#registration {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8vw 1.2vw;
  border-radius: 100vw;
  background: #96e9e5;
  color: #0f172a;
  font-weight: 600;
  font-size: 1.4vw;
  text-decoration: none;
  font-family: 'roboto-mono';
}

main {
  background: linear-gradient(whitesmoke, #58afd6);
  padding: 8vw 0;
}

.video-container {
  display: flex;
  justify-content: center;
}

iframe {
  border: none;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vh 12vw;
  padding: 15vh 10vw;
}

.content-block {
  text-align: center; 
  max-width: 40vw;
}

.content-block h2 {
  font-size: 2.2vw;
  margin-bottom: 1.5vh;
}

.content-block p {
  font-size: 1.5vw;
  line-height: 1.2;
}

footer {
  position: relative;
  box-sizing: border-box;
  background-image: url('../assets/images/ice-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.top-footer {
  display: flex;
  justify-content: space-around;
  font-family: 'roboto-mono';
  gap: 5vw;
  margin-top: 2.5rem;
  margin-bottom: 10vw;
  font-size: 1.5vw;
  font-weight: 600;
}

address {
  min-width: 60vw;
  line-height: 1.4;
}

.logo {
  display: inline-flex;
  justify-content: space-between;
  width: 15vw;
}

.logo img {
  width: 100%;
  height: auto;
}

footer a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}

#notice {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8vw 1.2vw;
  border-radius: 100vw;
  margin-top: 5vh;
  background: #96e9e5;
  color: #0f172a;
  font-weight: 600;
  font-size: 1.4vw;
  text-decoration: none;
  font-family: 'roboto-mono';
  box-shadow: 0 4px 0 #81c9c5;
}

.legal-notices {
  max-width: 40vw;
  line-height: 1.4;
}

h3{
  margin: 0.8vw 0.6vw;
  font-size: 5vw;
}

#h3-A {
  text-align: start;
}

#h3-B {
  text-align: center;
}

#h3-C {
  text-align: end;

}

#style-switch,
#top-link {
  display:none;
  position: fixed;  
  bottom: 3vh;
  display: inline-block;
  padding: 12px 24px;
  background: #96e9e5;
  color: #0f172a;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 0 #81c9c5;
}

#style-switch {
  left: 3vh;
}

#top-link {
  right: 3vh;
}

@media (max-width: 800px) {
  nav a {
    font-size: 5.5vw;
  }

  .next-event {
    gap: 5vw;
    padding: 2.5vw 4vw;
    border-radius: 3vw;
    font-size: 2vw;
  }

  #registration {
    padding: 1vw 2vw;
    font-size: 2vw;
  }
  
  iframe {
    width: 80vw;
    height: auto;
  }

  .main-content {
    padding: 15vh 5vw;
  }

  .content-block h2 {
    font-size: 4vw;
  }

  .content-block p {
    font-size: 2.5vw; 
  }

  .top-footer {
    flex-direction: column;
    font-size: 2.5vw;
    margin-bottom: 20vw;
  }

  .logo {
    width: 25vw;
  }

  .logo img {
    width: 80%;
    height: auto;
  }

  #notice {
    padding: 1vw 2vw;
    font-size: 2vw;
  }

  .legal-notices {
    max-width: 60vw;
  }
}

@media (max-aspect-ratio: 1 / 0.5) {
  .header-container {
    height: 70vh;
    gap: 0;
    margin-top: 5vw;
  }
  
  .title {
    margin-bottom: 15vh;
  }
}

@media (max-aspect-ratio: 1 / 0.6) {
  .header-container {
    margin-top: 10vw;
  }
}

@media (max-aspect-ratio: 1 / 0.7) {
  .header-container {
    margin-top: 12vw;
  }

  .title {
    margin-bottom: 18vh;
  }
}

@media (max-aspect-ratio: 1 / 0.8) {
  .header-container {
    margin-top: 15vw;
  }
}

@media (max-aspect-ratio: 1 / 0.9) {
  .title {
    margin-bottom: 28vh;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .header-container {
    margin-top: 25vw;
  }

  .title {
    margin-bottom: 25vh;
  }
}

@media (max-aspect-ratio: 1 / 1.1) {
  .header-container {
    margin-top: 30vw;
  }

  .title {
    margin-bottom: 25vh;
  }
}

@media (max-aspect-ratio: 1 / 1.2) {
  .header-container {
    margin-top: 30vw;
  }

  .title {
    margin-bottom: 30vh;
  }
}